configuration {
    font: "%(FONT) %(FONT_VARIANT) %(FONT_SIZE+2)";
    modi: "window,run,drun";
    combi-modi: "window,drun,run";
    monitor: "-1";
    terminal: "%(ST)";
}

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

window {
    location: center;
    anchor: center;
}
listview {
    lines: 25;
    fixed-height: false;
    dynamic: false;
}
