configuration {
    font: "%(FONT) %(FONT_VARIANT) %(FONT_SIZE)";
    modi: "window,run,drun";
    combi-modi: "window,drun,run";
    monitor: "-1";
    terminal: "alacritty";
}

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
